{% extends "header.html" %}
{% block categories %}
{% endblock %}
{% block items %}
{% endblock %}

{% block new_item %}


<h3> <p>Are you sure you want to delete "{{item.name}}"</p>  
	<p> from "{{category.name}}" category? </p></h3>
<br>

<form action="{{ url_for('deleteItem', item_name= item.name, category_name = category.name)}}" method="post">

	<input type='submit', value='Delete' style = "color: rgb(238, 13, 26);">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

</form>
<br>
<a href = '{{url_for('AllCategories')}}'>Cancel</a>


{% endblock new_item %}