{% extends "header.html" %}
{% block login %}
{% endblock login %}
{% block categories %}
{% endblock %}
{% block items %}
{% endblock %}

{% block new_item %}


<h1>Edit {{item.name}}</h1>
<br>
<br>

<form action="{{ 
url_for('editItem',item_name = item.name)}}" 
method = "post" 
enctype='multipart/form-data'
id = "EditedItem">

<div class="row">
 <div class="col-md-6 text-left ">
   <p>Name:</p>
   <input type = 'text size' size = '30' name = 'name' value = '{{item.name}}' >
 </div>
</div>
<br>
<br>

<p>   <label for="description">Description:</label></p>
<textarea class="form-control" maxlength="250" rows="3" name="description"  style="margin: 0px; width: 424px; height: 98px;">{{item.description}}</textarea>



<br>
<br>


<div id = "pictures">        
 <p>Picture:</p>

 {% for pic in pics %}
 <div>
   <img src="/{{pic.picture}}"  width = "10%" > 
   <input type ="file"   maxlength="250" class="form-control" name='{{pic.name}}'placeholder="Picture URL">
 </div>
 {% endfor %}



</div>
<br>
<br>


<div class="row">
 <div class="col-md-6 text-left ">

  <p>Category:</p>

  <select name= "category" form = "EditedItem">


    {% for category in categories %}

    <option value="{{category.id}}"  
    {% if category.id == default  %} selected = 'selected'
    {% endif %} >{{category.name}} </option>

    {% endfor %}
  </select>
</div>
</div>
<br>
<br>


<input type = 'submit' value = 'Edit'style = "color: rgb(238, 13, 26);">

<a href = '{{url_for('AllCategories')}}'>Cancel</a>


</form>

{% endblock new_item %}
