
{% extends "header.html" %}

 {% block latestItems %}
 <figure class="creator">
 {% if creator.name != 'Default' %}
 <figcaption> Creator: {{creator.name}}</figcaption>
 <img src="{{creator.picture}}">
 {% endif %}
</figure>
 <a href="{{url_for('AllCategories')}}">
 Latest Items
  </a>
{% endblock latestItems %}

{% block categories %}
{% endblock %}

{% block items %}
{% endblock %}

{% block display_item %}



<div>

	<p class = "ItemName">{{item.name}}</p>

	{% for pic in pics %}
	<p><img src="/{{pic.picture}}">  </p>
	{% endfor %}

	<p class = "ItemDescription">{{item.description}}</p>

</a></p>


</div>

{% endblock display_item %}
